/* ---------- */
/* General */
/* ---------- */

body
{
	background:#000;
	font-family:tahoma;
	font-size:12px;
}

#main
{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

#status
{
	padding:5px;
	width:420px;
	color:#fff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* -------------------------- */
/* first panel section */
/* -------------------------- */

#firstpanel
{
	float:left;
	width:190px;
}

#people
{
	padding:2px;
	background:#ccc;
	border-radius:5px;
	border:1px solid #666;
	width:180px;
	height:200px;
}

#people p
{
	padding:0px;
	margin:0px;
}

#clearcanvas
{
	margin-top:10px;
	padding:5px;
}

#colorpicker
{
	position:absolute;
	background:#444;
	padding:10px;
	border-radius:5px;
	border:solid 1px #ccc;
}

/* ---------------------- */
/* second panel section */
/* ---------------------- */

#secondpanel
{
	background:#ccc;
	width:500px;
	height:500px;
	border-radius:5px;
	border:2px solid #666;
	margin-left:30px;
	float:left;
}

#canvas
{
	cursor:crosshair;
}

/* ----------------------- */
/* third panel section */
/* ----------------------- */

#thirdpanel
{
	margin-left:30px;
	float:left;
	width:320px;
}

#chatcontent
{
	background:#ccc;
	border-radius:5px;
	border:1px solid #666;
	width:300px;
	height:400px;
	overflow: auto;
	overflow-x: hidden;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}

#chatcontent p
{
	padding:0px;
	margin-top:0px;
	margin-bottom:5px;
}

#chatnick
{
	border-radius:2px;
	border:1px solid #ccc;
	margin-top:10px;
	padding:5px;
	width:80px;
	float:left;
}

#chatinput
{
	border-radius:2px;
	border:1px solid #ccc;
	margin-top:10px;
	margin-left:10px;
	padding:5px;
	width:200px;
	float:left;
}

#clearchat
{
	margin-top:10px;
	padding:5px;
}